---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Not Found | Hubert Lemczak" description="Page not found.">
  <section class="container fade-in-observable">
    <div class="fade-in" style="--delay: 0.3s;">
      <h1>Oh no...</h1>
      <p class="subtitle">It looks like this page has been lost 👾</p>
      <a href="/" class="return-home">Return home</a>
    </div>
    <Image class="fade-in" style="--delay: 0.7s;" src="/404.svg" alt="" width="800" height="800" loading="eager" />
  </section>
</Layout>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-block: 6.25rem 10rem;
  }

  h1 {
    font-size: 2.125rem;
    font-weight: 600;
    font-family: var(--font-noto);
    line-height: 1.3;
    color: white;
  }

  .subtitle {
    max-width: 40rem;
    color: #dadada;
    font-size: 1.625rem;
    font-family: var(--font-noto);
    line-height: 1.3;
  }

  .return-home {
    display: block;
    padding: 0.5rem 1.5rem;
    width: fit-content;
    margin-block: 2rem;
    font-size: 1.375rem;
    background-color: var(--color-accent);
    color: white;
    text-decoration: none;
  }

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    max-width: 40rem;
    max-height: 40rem;
    margin-inline: auto;
  }

  @media (width > 48em) {
    h1 {
      font-size: 5.125rem;
    }

    .subtitle {
      font-size: 3.5rem;
    }

    .return-home {
      padding: 0.75rem 2rem;
      font-size: 1.75rem;
      margin-block: 5rem;
    }
  }

  @media (width > 77.5em) {
    section {
      grid-template-columns: 1fr auto;
      margin-block: 6.25rem 16rem;
    }
  }
</style>
