.animation-menu {
  top: 0;
  left: 0;
  animation: navMenu forwards 300ms;
}

.nav-fade-out {
  animation: navOut reverse 350ms;
}

@keyframes navOut {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes navMenu {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

.nav-menu-open-one {
  position: absolute;
  top: 0;
  left: 0;
  animation: one 500ms forwards;
}

.nav-menu-open-two {
  opacity: 0;
}

.nav-menu-open-three {
  position: absolute;
  bottom: 0;
  right: 0;
  animation: three 500ms forwards;
}

@keyframes one {
  from {
    transform: rotate(0);
  }
  to {
    transform: translateY(10px) rotate(45deg);
  }
}

@keyframes three {
  from {
    transform: rotate(0);
  }
  to {
    transform: translateY(-7px) rotate(-45deg);
  }
}

.hamburger {
  height: 18px;
}

.fade-out-one {
  animation: oneB 300ms reverse;
}

.fade-out-three {
  animation: threeB 300ms reverse;
}

@keyframes oneB {
  from {
    transform: rotate(0);
  }
  to {
    transform: translateY(10px) rotate(45deg);
  }
}

@keyframes threeB {
  from {
    transform: rotate(0);
  }
  to {
    transform: translateY(-6px) rotate(-45deg);
  }
}
