<div class="mobile-menu-btn">
  <span></span>
  <span></span>
  <span></span>
</div>

<script>
  const body = document.querySelector("body");
  const mobileMenuBtn = document.querySelector(".mobile-menu-btn");

  mobileMenuBtn?.addEventListener("click", () => {
    if (!body) return;

    body.classList.add("mobile-nav-toggled");

    if (body.classList.contains("mobile-nav-open")) {
      body.classList.add("mobile-nav-closing");
    }

    body.classList.toggle("mobile-nav-open");
  });

  mobileMenuBtn?.addEventListener("animationend", () => {
    body?.classList.remove("mobile-nav-toggled", "mobile-nav-closing");
  });
</script>

<style>
  .mobile-menu-btn {
    --duration: 0.3s;

    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    margin-right: -12px;
    cursor: pointer;
    z-index: 10;
  }

  .mobile-menu-btn span {
    display: block;
    background-color: white;
    height: 1px;
    width: 24px;
  }

  @keyframes one-open {
    50% {
      transform: translateY(8px);
    }
    100% {
      transform: rotate(45deg) translate(6px, 6px);
    }
  }
  @keyframes one-close {
    0% {
      transform: rotate(45deg) translate(6px, 6px);
    }
    50% {
      transform: rotate(0deg) translate(0, 0);
      transform: translateY(8px);
    }
  }

  @keyframes two-open {
    50%,
    100% {
      opacity: 0;
    }
  }

  @keyframes two-close {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  @keyframes three-open {
    50% {
      transform: translateY(-8px);
    }
    100% {
      transform: rotate(-45deg) translate(6px, -7px);
    }
  }
  @keyframes three-close {
    0% {
      transform: rotate(-45deg) translate(6px, -7px);
    }
    50% {
      transform: rotate(0deg) translate(0, 0);
      transform: translateY(-8px);
    }
  }

  body.mobile-nav-open .mobile-menu-btn span:nth-child(1) {
    animation: one-open var(--duration) ease-in-out forwards;
  }

  body.mobile-nav-open .mobile-menu-btn span:nth-child(2) {
    animation: two-open var(--duration) steps(1) forwards;
  }

  body.mobile-nav-open .mobile-menu-btn span:nth-child(3) {
    animation: three-open var(--duration) ease-in-out forwards;
  }

  body.mobile-nav-closing .mobile-menu-btn span:nth-child(1) {
    animation: one-close var(--duration) ease-in-out forwards;
  }

  body.mobile-nav-closing .mobile-menu-btn span:nth-child(2) {
    animation: two-close var(--duration) steps(1) forwards;
  }

  body.mobile-nav-closing .mobile-menu-btn span:nth-child(3) {
    animation: three-close var(--duration) ease-in-out forwards;
  }

  @media (width > 48em) {
    .mobile-menu-btn {
      display: none;
    }
  }
</style>
