@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color-scheme: light;
  font-family: 'Inter', sans-serif;
}

.dark {
  color-scheme: dark;
}

html {
  overflow-x: hidden;
}

.dark .star-bg::after {
  content: '';
  position: fixed;
  inset: 0;
  background-image: url('/src/assets/stars.svg');
  opacity: 0.5;
  user-select: none;
  z-index: -10;
}

.herosvg1 {
  transition: stroke 1.5s;
}

.herosvg1:hover {
  transition: stroke 0s;
  stroke: #00ffbf;
}

.herosvg2 {
  transition: stroke 1.5s;
}

.herosvg2:hover {
  transition: stroke 0s;
  stroke: #ff00ae;
}

.herosvg3 {
  transition: stroke 1.5s;
}

.herosvg3:hover {
  transition: stroke 0s;
  stroke: red;
}

.herosvg4 {
  transition: stroke 1.5s;
}

.herosvg4:hover {
  transition: stroke 0s;
  stroke: #eaff00;
}

.max-w-1220 {
  max-width: 1220px;
}

.max-w-1600 {
  max-width: 1600px;
}

.max-w-325 {
  max-width: 340px;
}

.active-nav {
  position: relative;
  font-weight: bold;
  background-image: url('./assets/nav-active-light.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}

.dark .active-nav {
  position: relative;
  font-weight: bold;
  background-image: url('./assets/nav-active.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}

.dark .active-nav::after {
  animation: activeNav 1s forwards ease-in-out;
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0;
  height: 10px;
  background-color: #121212;
}

.active-nav::after {
  animation: activeNav 1s forwards ease-in-out;
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0;
  height: 10px;
  background-color: #f2f2f2;
}

@keyframes activeNav {
  from {
    width: 100px;
  }
  to {
    width: 0;
  }
}

.text-275 {
  font-size: 17.1875rem;
  line-height: 0.9;
}

.opactity-15 {
  opacity: 0.15;
}

.-right-2\/5 {
  right: -40%;
}

.dark .navigation-gradient {
  background: none;
  animation: darkNav 1s forwards;
}

.navigation-gradient {
  background: none;
  animation: lightNav 1s forwards;
}

@keyframes darkNav {
  to {
    background: linear-gradient(rgba(18, 18, 18, 0.6) 63%, transparent);
  }
}

@keyframes lightNav {
  to {
    background: linear-gradient(rgba(242, 242, 242, 0.6) 63%, transparent);
  }
}

.projects-container {
  max-width: 48rem;
  font-size: 1rem;
}

.projects-container img {
  margin-block: 2rem;
  border-radius: 6px;
}

.projects-container h2 {
  font-size: 2em;
  font-weight: bold;
  color: #f41a7e;
  margin-block: 5rem 2rem;
}

.dark .projects-container h2 {
  color: #e5d544;
}

.projects-container h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-block: 3rem 1rem;
}

.dark .projects-container h3 {
  color: #dadada;
}

.projects-container p {
  font-size: 1.15em;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.projects-container a {
  color: rgb(145, 161, 251);
  text-decoration: underline;
}

.dark .projects-container code {
  color: white;
  padding: 1px 6px;

  background-color: #ffffff2a;
  border-radius: 6px;
}

.projects-container code {
  padding: 1px 6px;

  background-color: #0000001b;
  border-radius: 6px;
}

@media (max-width: 600px) {
  .projects-container {
    font-size: 0.85rem;
  }
}

@media (max-width: 350px) {
  .projects-container {
    word-break: break-all;
  }
}

.dark .projects-container p {
  color: #abaaaa;
}
