@tailwind base;
@tailwind components;
@tailwind utilities;

.colour-fade {
  background: #ee6055;
  animation: colourFade 15s infinite alternate;
}

@keyframes colourFade {
  0% {
    background: #ee6055;
  }
  25% {
    background: #60d394;
  }
  50% {
    background: #83d6f6;
  }
  75% {
    background: #7d88ff;
  }
  100% {
    background: #fd85ff;
  }
}

.herosvg1 {
  transition: stroke 1.5s;
}

.herosvg1:hover {
  transition: stroke 0s;
  stroke: #00ffbf;
}

.herosvg2 {
  transition: stroke 1.5s;
}

.herosvg2:hover {
  transition: stroke 0s;
  stroke: #ff00ae;
}

.herosvg3 {
  transition: stroke 1.5s;
}

.herosvg3:hover {
  transition: stroke 0s;
  stroke: red;
}

.herosvg4 {
  transition: stroke 1.5s;
}

.herosvg4:hover {
  transition: stroke 0s;
  stroke: #eaff00;
}

.max-w-1220 {
  margin-inline: auto;
  max-width: 1220px;
}
