@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

* {
  font-family: 'Inter', sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  background-color: black;
  overflow-x: hidden;
}

body::after {
  content: '';
  position: fixed;
  inset: 0;
  background-image: url('/src/assets/stars.svg');
  z-index: -10000;
}

.herosvg1 {
  transition: stroke 1.5s;
}

.herosvg1:hover {
  transition: stroke 0s;
  stroke: #00ffbf;
}

.herosvg2 {
  transition: stroke 1.5s;
}

.herosvg2:hover {
  transition: stroke 0s;
  stroke: #ff00ae;
}

.herosvg3 {
  transition: stroke 1.5s;
}

.herosvg3:hover {
  transition: stroke 0s;
  stroke: red;
}

.herosvg4 {
  transition: stroke 1.5s;
}

.herosvg4:hover {
  transition: stroke 0s;
  stroke: #eaff00;
}

.max-w-1220 {
  max-width: 1220px;
}

.max-w-1600 {
  max-width: 1600px;
}

.max-w-325 {
  max-width: 340px;
}

.active-nav {
  position: relative;
  font-weight: bold;
  background-image: url('./assets/nav-active.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}

.active-nav::after {
  animation: activeNav 1s forwards ease-in-out;
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0;
  height: 10px;
  background-color: black;
}

@keyframes activeNav {
  from {
    width: 100px;
  }
  to {
    width: 0;
  }
}

.text-275 {
  font-size: 17.1875rem;
  line-height: 0.9;
}

.opactity-15 {
  opacity: 0.15;
}

.-right-2\/5 {
  right: -40%;
}

.navigation-gradient {
  background: linear-gradient(black 63%, transparent);
}
