---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<script>
  const elements = document.getElementsByClassName("fade-in-observable");

  const observer = new IntersectionObserver((entries: IntersectionObserverEntry[], observer: IntersectionObserver) => {
    console.log(entries, observer);
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.remove("fade-in-observable");
        observer.unobserve(entry.target);
      }
    });
  });

  Array.from(elements).forEach((element) => {
    if (element) observer.observe(element);
  });
</script>

<html lang="en">
  <head>
    <title>{title}</title>

    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Navigation />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --color-accent: #0000ff;
    --color-gray: #7c7c7c;

    --font-noto: "Noto Serif Display", sans-serif;
  }

  html {
    font-family: sans-serif;
    background: black;
    color: white;
  }

  body {
    background-image: url("/stars.svg");
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  body.mobile-nav-open {
    overflow-y: hidden;
  }

  main {
    padding: 1.5rem;
  }

  .container {
    max-width: 86.25rem;
    margin-inline: auto;
  }

  @media (width > 48em) {
    main {
      padding: 2rem;
    }
  }
</style>

<!-- CSS Keyframes -->
<style is:global>
  .fade-in-observable,
  .fade-in-observable * {
    animation-play-state: paused !important;
  }

  .fade-in {
    --delay: 0s;

    opacity: 0;
    visibility: visible;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    animation: fade-in 0.7s ease-in-out var(--delay) forwards;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
</style>

<!-- CSS reset -->
<style is:global>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }
</style>
